.filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #dddddd;
  }
  
  .filters > div {
    position: relative;
    width: 25%;
  }
  
  .filters > div:hover .popover {
    display: block;
  }
  
  .filters > div > h3 {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
  }
  
  .filters > div > .popover {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 4px;
    background-color: #fafafa;
    color: #333333;
    z-index: 1;
  }
  
  .filters > div > .popover > li {
    padding: 8px;
    cursor: pointer;
  }
  
  .filters > div > .popover > li:hover {
    background-color: #f5f5f5;
  }
  
  .filters > div > .popover > li > h2 {
    font-size: 16px;
    margin: 0;
    padding: 8px;
    font-weight: normal;
  }
  
  .filters > div > .popover > li > ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .filters > div > .popover > li > ul > li {
    padding: 8px;
    cursor: pointer;
  }
  